---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_8vbgG0y1JOVd7jB5FC3jNrhm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_Avi1jMa9naey5V",
              "object": "customer",
              "account_balance": 0,
              "created": 1498696446,
              "currency": "usd",
              "default_source": "card_1AZqbjGeIPwANAtnLX3n3tJQ",
              "delinquent": false,
              "description": "Olaf Ebert",
              "discount": null,
              "email": "some_random_user900039@shiptcustomers-bot.com",
              "livemode": false,
              "metadata": {
                "metro_name": "Birmingham",
                "customer_id": "574647",
                "email": "some_random_user900039@shiptcustomers-bot.com"
              },
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_1AZqbjGeIPwANAtnLX3n3tJQ",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_Avi1jMa9naey5V",
                    "cvc_check": null,
                    "dynamic_last4": null,
                    "exp_month": 8,
                    "exp_year": 2019,
                    "fingerprint": "FqjBmm2RU2afw3XS",
                    "funding": "credit",
                    "last4": "4242",
                    "metadata": {
                      "customer_id": "574647",
                      "email": "some_random_user900039@shiptcustomers-bot.com",
                      "metro_name": "Birmingham"
                    },
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_Avi1jMa9naey5V/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_Avi1SRC2iXPSu7",
                    "object": "subscription",
                    "application_fee_percent": null,
                    "cancel_at_period_end": false,
                    "canceled_at": null,
                    "created": 1498696449,
                    "current_period_end": 1530232449,
                    "current_period_start": 1498696449,
                    "customer": "cus_Avi1jMa9naey5V",
                    "discount": null,
                    "ended_at": null,
                    "items": {
                      "object": "list",
                      "data": [
                        {
                          "id": "si_1AZqblGeIPwANAtn7K2LdI5U",
                          "object": "subscription_item",
                          "created": 1498696449,
                          "plan": {
                            "id": "GROCERY_YEARLY",
                            "object": "plan",
                            "amount": 9999,
                            "created": 1425650890,
                            "currency": "usd",
                            "interval": "year",
                            "interval_count": 1,
                            "livemode": false,
                            "metadata": {
                              "01- breakdown": "Recurring membership ($99 billed after trial)",
                              "02- description": "Happiness guaranteed. Cancel at any time!"
                            },
                            "name": "Annual Membership",
                            "statement_descriptor": null,
                            "trial_period_days": null,
                            "statement_description": null
                          },
                          "quantity": 1
                        }
                      ],
                      "has_more": false,
                      "total_count": 1,
                      "url": "/v1/subscription_items?subscription=sub_Avi1SRC2iXPSu7"
                    },
                    "livemode": false,
                    "metadata": {
                      "original_platform_source": "web_marketing"
                    },
                    "plan": {
                      "id": "GROCERY_YEARLY",
                      "object": "plan",
                      "amount": 9999,
                      "created": 1425650890,
                      "currency": "usd",
                      "interval": "year",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {
                        "01- breakdown": "Recurring membership ($99 billed after trial)",
                        "02- description": "Happiness guaranteed. Cancel at any time!"
                      },
                      "name": "Annual Membership",
                      "statement_descriptor": null,
                      "trial_period_days": null,
                      "statement_description": null
                    },
                    "quantity": 1,
                    "start": 1498696449,
                    "status": "active",
                    "tax_percent": null,
                    "trial_end": null,
                    "trial_start": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_Avi1jMa9naey5V/subscriptions"
              },
              "cards": {
                "object": "list",
                "data": [
                  {
                    "id": "card_1AZqbjGeIPwANAtnLX3n3tJQ",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_Avi1jMa9naey5V",
                    "cvc_check": null,
                    "dynamic_last4": null,
                    "exp_month": 8,
                    "exp_year": 2019,
                    "fingerprint": "FqjBmm2RU2afw3XS",
                    "funding": "credit",
                    "last4": "4242",
                    "metadata": {
                      "customer_id": "574647",
                      "email": "some_random_user900039@shiptcustomers-bot.com",
                      "metro_name": "Birmingham"
                    },
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_Avi1jMa9naey5V/cards"
              },
              "default_card": "card_1AZqbjGeIPwANAtnLX3n3tJQ"
            },
            {
              "id": "cus_Avi1hLWXaoHi2p",
              "object": "customer",
              "account_balance": 0,
              "created": 1498696437,
              "currency": "usd",
              "default_source": "card_1AZqbaGeIPwANAtnWjmnIDn3",
              "delinquent": false,
              "description": "Werner Hackett",
              "discount": null,
              "email": "some_random_user900038@shiptcustomers-bot.com",
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&starting_after=cus_AvhTMlsLszORJM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_8vbgG0y1JOVd7jB5FC3jNrhm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-10-07'
    body:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&starting_after=cus_Avbhh5CZhjEqIy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_8vbgG0y1JOVd7jB5FC3jNrhm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-10-07'
    body:
   [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?include%5B%5D=total_count&starting_after=cus_AvHNQ5zszGdwR3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_8vbgG0y1JOVd7jB5FC3jNrhm
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-10-07'
    body:
   [...]
